
<header>
    <div class="menu_bar">
        <a href="#" class="btn"><span class="icon-list2"></span> menu</a>
    </div>
    <nav>
        <ul>
            <li><a href="#"><span class="icon-facebook">facebook</span></a></li>
            <li><a href="#"><span class="icon-twitter">twitter</span></a></li>
            <li><a href="#"><span class="icon-instagram">instagram</span></a></li>
            <li><a href="#"><span class="icon-github">github</span></a></li>
            <li><a href="#"><span class="icon-user">contacto</span></a></li>
        </ul>
    </nav>
    
</header>
<script src="menu.js"></script>