
div{
    text-align: center;
}
 /* etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-left: 10px;
}
#fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px,3px,3px, grey;
    left: 3%;
    }

