<div class="container-fluid">
    <div class="row">
        <h1>Hard & Soft skills</h1>
        <div class="text-center col-6 col-sm-6 col-md col-lg col-xl col-xxl"> <!--HTML-->
            <circle-progress [imageSrc]="'../assets/html.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="130"
                [showSubtitle]="false" [percent]="40" [radius]="100" [showUnits]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="2000"></circle-progress>
        </div>

        <div class="text-center col-6 col-sm-6 col-md col-lg col-xl col-xxl"> <!--CSS-->
            <circle-progress [imageSrc]="'../assets/CSS.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="120"
                [showSubtitle]="false" [percent]="50" [radius]="100" [showUnits]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="2000"></circle-progress> 
        </div>  

        <div class="text-center col col-sm-6 col-md col-lg col-xl col-xxl"> <!--JS-->
            <circle-progress [imageSrc]="'../assets/js.png'" [showImage]="true" [imageHeight]="110" [imageWidth]="110"
                [showSubtitle]="false" [percent]="50" [radius]="100" [showUnits]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="2000"></circle-progress>
        </div>

        <div class="text-center col col-sm-6 col-md col-lg col-xl col-xxl"> <!--Github-->
            <circle-progress [imageSrc]="'../assets/github.png'" [showImage]="true" [imageHeight]="110" [imageWidth]="110"
                [showSubtitle]="false" [percent]="35" [radius]="100" [showUnits]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="2000"></circle-progress>
        </div>
    </div>
</div>