<html>
<div class="row">
    <h1>Educación</h1>

    <div id="experiencias">
        <h2>EDUCACIÓN 1 </h2>
        <h3> (años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicin
            g elit. Vero maxime aut atq
            ue excepturi neque minus officiis commodi consequa
            tur, recusandae aspernatur? Exercitationem fu
            git ipsum earum sunt commodi voluptate sint id hic.</p>

        <h2>EDUCACIÓN 2 </h2>
        <h3> (años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicin
            g elit. Vero maxime aut atq
            ue excepturi neque minus officiis commodi consequa
            tur, recusandae aspernatur? Exercitationem fu
            git ipsum earum sunt commodi voluptate sint id hic.</p>

        <h2>EDUCACIÓN 3 </h2>
        <h3> (años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicin
            g elit. Vero maxime aut atq
            ue excepturi neque minus officiis commodi consequa
            tur, recusandae aspernatur? Exercitationem fu
            git ipsum earum sunt commodi voluptate sint id hic.</p>
    </div>
</div>

</html>