<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/perfil.png" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-10 ">
            <h1 id="nombre">Nahuel Gonzalez</h1>
            <p>full stack developer jr</p> <br>
            <p>fdjsakfdlsagdklsagkd</p>

        </div>
        <div class="col-12">
            <span>
                <h1>acerca de mí</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Earum doloribus, sint id ut recusandae vel!
                    Eveniet molestiae inventore beatae,
                    nobis quos iure sunt voluptatibus eum molestias est asperiores?
                    Exercitationem, corporis.</p>
            </span>
        </div>
    </div>
</div>